p {
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.2
}

.plain {
    padding: 0;
}

.navbar-default {
    background-color: #ccc;
    border-color: #444;
    border-width: 0 0 2px;
}

.navbar-default .navbar-brand {
    color: #222;
}

#nav-container {
    max-width: 1400px;
}

.navbar-default .navbar-toggle {
    border-color: #444;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #222;
}

.body-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

#body-dynamic {
    padding-top: 50px;
}

.body-0, .body-1, .body-2 {
    width: 100%;
    padding: 0 0 15px;
}

.body-0 {
    background-color: #fff;
    border-top: 10px solid #27bfe6;
}

.body-1 {
    background-color: #ccc;
    border-top: 8px solid #e5233d;
}

.body-2 {
    background-color: #eee;
    border-top: 8px solid #4ca146;
}

.container-body {
    max-width: 1400px;
}

/***************************/
/* Chart-Tiles */
/***************************/
.btn-btnselect {
    width: 60px;
    white-space: normal;
    padding: 5px;
    line-height: 1.2;
    font-size: 10px;
    font-weight: 700;
}

#select-country {
    max-width: 100%;
    min-width: 50%;
}

canvas {
    height: 400px;
    width: 100px;
    margin-top: 15px;
}

/* Chart Slider */
#col-slider {
    margin: 10px 0;
}
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 15px;
    background: #eee;
    outline: none;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0s; /* no transition time */
    transition: opacity 0s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1;

}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Handle width */
    height: 15px; /* Slider & Handle height */
    background: #999;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px; /* Handle width */
    height: 15px; /* Slider & Handle height */
    background: #999;
    cursor: pointer;
}

/* Goal Tiles */
.btn-g-tiles {
    padding: 3px;
    margin: 3px;
    border-radius: 6px;
    white-space: normal;
    width: 65px;
    height: 65px;
    border-width: 0;
    background-size: 120%;
    background-position: 40% 10%;
}

.btn-g-score {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    margin-top: 22px;
    color:  #fff;
}

/* populate colors/imgs with js */
/*https://stackoverflow.com/questions/1341358/set-size-on-background-image-with-css*/

button.g01 {
    background-image: url("img/icon_01_blank.png");
    background-color: #e5233d;
}

button.g02 {
    background-color: #dda73a;
    background-image: url("img/icon_02_blank.png");
}

button.g03 {
    background-color: #4ca146;
    background-image: url("img/icon_03_blank.png");
}

button.g04 {
    background-color: #c7212f;
    background-image: url("img/icon_12_blank.png");
}

button.g05 {
    background-color: #ef402d;
    background-image: url("img/icon_15_blank.png");
}

button.g06 {
    background-color: #27bfe6;
    background-image: url("img/icon_16_blank.png");
}

/***************************/
/* World Bank Section */
/***************************/
#col-wb, #col-un, #col-sdg {
    /*margin-top: 10px;
    padding: 15px;*/
}

#col-wb p, #col-un p, #col-sdg p {
    font-size: 13px;
}

/***************************/
/* Footer */
/***************************/
#body-footer {
    background-color: #444;
    width: 100%;
    min-height: 60px;
    border-top: 8px solid #f89d2a;
}

#footer-container {
    color: #eee;
    padding: 15px 15px;
    max-width: 1400px;
}

#col-footer a, a:active, a:hover, a:visited {
    color: #18e;
}