.extra-hidden {
    display: none;
}

p {
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.3;
}

.footnote {
    margin: 0 0 5px;
    font-size: 9px;
    line-height: 1.3;
}

.h4, h4 {
    margin-top: 2px;
}

.plain {
    padding: 0;
}

.navbar-default {
    background-color: #02558b;
    border-color: #444;
    border-width: 0 0 2px;
}

.navbar-default .navbar-brand:focus, 
.navbar-default .navbar-brand:hover {
    color: #eee;
}

.navbar-toggle,
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
    background-color: #1c6fa5;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #1c6fa5;
}
.navbar-default .navbar-nav > li > a {
    color: #eee;
}

.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ddd;
}

.navbar-default .navbar-brand {
    color: #fff;
}

#nav-container {
    max-width: 1400px;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

.body-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

#body-dynamic, #body-content {
    padding-top: 50px;
}

.body-0, .body-1, .body-2 {
    width: 100%;
    padding: 0 0 15px;
}

.body-0 {
    background-color: #fff;
    border-top: 10px solid #3dac47;
}

.body-1 {
    background-color: #ccc;
    border-top: 8px solid #e5233d;
}

.body-2 {
    background-color: #eee;
    border-top: 8px solid #fdb713;
}

.container-body {
    max-width: 1400px;
}

/***************************/
/* Chart-Tiles */
/***************************/
.btn-btnselect {
    white-space: normal;
    padding: 2px;
    line-height: 1.2;
    font-size: 12px;
    font-weight: 700;
}

#select-country {
    max-width: 100%;
    min-width: 50%;
}

canvas {
    min-height: 1px;
    min-width: 1px;
    margin-top: 5px;
}

#scatter-chart {
    margin-top: 15px;
}

/* Chart Slider */
#col-slider {
    margin: 10px 0;
}

.ui-slider, .ui-slider-horizontal {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 15px;
    background: #eee;
    outline: none;
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0s; /* no transition time */
    transition: opacity 0s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

/* Mouse-over effects */
.ui-slider:hover {
    opacity: 1;
}

/* Slider Handle */
/* (override defaults webkit (Chrome, Opera, Safari, Edge) & moz (Firefox)) */
/* great jq bs slider tooltip fiddle */
.ui-slider .ui-slider-handle, 
.ui-slider-horizontal .ui-slider-handle {
    width: 10px;
    height: 23px;
    background: #999;
    display: inline-block;
    top: -5px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.ui-slider .ui-slider-handle::-webkit-slider-thumb, 
.ui-slider-horizontal .ui-slider-handle::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 23px;
    background: #999;
    display: inline-block;
    top: -5px;
    cursor: pointer;
}

.ui-slider .ui-slider-handle::-moz-range-thumb,
.ui-slider-horizontal .ui-slider-handle::-moz-range-thumb {
    width: 10px;
    height: 23px;
    background: #999;
    display: inline-block;
    top: -5px;
    cursor: pointer;
}

.slider-tt {
    position: absolute;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: hidden;
    margin-top: -2px;
    bottom:120%;
    margin-left: -2em;
}

.ui-slider:hover .slider-tt {
  visibility: visible;
}

.slider-tt .slider-tt-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #ccc;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}

.slider-tt-inner {
    max-width: 40px;
    padding: 3px 7px;
    color: #333;
    text-align: center;
    text-decoration: none;
    background-color: #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

/* Goal Tiles */
.tile-sm {
    padding: 3px;
    margin: 3px;
    border-radius: 6px;
    white-space: normal;
    width: 73px;
    height: 73px;
    border-width: 0;
    background-size: 120%;
    background-position: 35% 12%;
}

.tile-row {
    padding: 0 5px;
}

.tile-indiv {
    padding: 0;
}

.tile-md {
    padding: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 6px;
    white-space: normal;
    width: 110px;
    height: 110px;
    border-width: 0;
    background-size: 100%;
    background-position: center;
    float: right;
}

.tile-text {
    padding-left: 0;
    padding-right: 0;
    margin-top: 7px;
}

.tile-text h5, .tile-text h4, .tile-text p {
    margin-top: 3px;
    margin-bottom: 0;
    
}

.tile-score {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    margin-top: 22px;
    color:  #fff;
}

.tile:focus, .tile:hover {
    border: 2px solid #333;
}

/* populate colors/imgs with js */
/*https://stackoverflow.com/questions/1341358/set-size-on-background-image-with-css*/


/***************************/
/* SDG, UN, WB Section */
/***************************/


/***************************/
/* Footer */
/***************************/
#body-footer {
    background-color: #02558b;
    width: 100%;
    min-height: 60px;
    border-top: 8px solid #3dac47;
}

#footer-container {
    color: #eee;
    padding: 15px 15px;
    max-width: 1400px;
}

#col-footer a, a:active, a:hover, a:visited {
    color: #18e;
}


/***************************/
/* Logo */
/***************************/
/* Much appreciation to http://jsfiddle.net/gaby/9Ryvs/7/ */
.logo {
    position: relative;  /* to "brand" */
    top: -29px;
    left: -13px;
    margin: 0;
    width: 40px;
    height: 40px;
    background-color: transparent;
    z-index: -1;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 15000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 15000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 15000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

