<!-- needs to go in a full-width div -->
<!-- all about altdash and mmg -->

<div id="cont-body-altdashmmg" class="container-fluid container-body">
  <div id="row-body-altdashmmg" class="row body-row">
    <div id="col-altdash" class="col-xs-12 col-md-6">
      <h3>About AltDash</h3>
      <p>
        AltDash is a proposed Alternative Dashboard for looking at World Bank
        data as it reflects progress toward the Sustainable Development Goals.
      </p>
      <p>
        EEE
      </p>
    </div><!-- /#col-altdash -->
    <div id="col-mmg" class="col-xs-12 col-md-6">
      <h3>About Meggan</h3>
      <p>
        <a href="http://meggangreen.com/" target="_blank" title="Meggan M Green">
          Meggan M Green
        </a>
        BIO
      </p>
      <p>
        EEE
      </p>
    </div><!-- /#col-mmg -->
  </div><!-- /#row-body-altdashmmg -->
</div><!-- /#cont-body-altdashmmg -->
