<div id="footer-container" class="container-fluid">
  <div id="row-footer" class="row footer-row">
      <div id="col-footer" class="col-xs-12">
        <p>
          &copy; 2017 <a href="http://meggan.green" target="_blank" 
          title="Meggan M Green" class="outside-link">Meggan M Green</a>
        </p>
        <p>
          AltDash is neither endorsed nor affiliated in any way with 
          <a href="https://worldbank.org/" target="_blank" 
             title="The World Bank" class="outside-link">The World Bank</a>
          or the
          <a href="http://www.un.org/" target="_blank" 
             title="United Nations" class="outside-link">United Nations</a>
        </p>
        <p>
          All data used in accordance with the
          <a href="https://data.worldbank.org/summary-terms-of-use" target="_blank"
             title="Open Data Terms of Use" class="outside-link"
             >World Bank Open Data Terms of Use</a>
        </p>
      </div><!-- /#col-footer -->
    </div><!-- /#row-footer -->
</div><!-- /#footer-container -->