<!-- needs to go in a full-width div -->

<div id="cont-body-charts" class="container-fluid container-body">
  <div id="row-body-charts" class="row body-row">
    <div id="col-scatterchart" class="col-xs-12 col-md-8">
      <div id="row-btnselect" class="row">
        <div id="col-mapbtn" class="col-xs-3">
          <button id="btn-map" class="btn btn-default form-control btn-btnselect" type="button">
            World Map
          </button>
        </div><!-- /#col-mapbtn -->
        <div id="col-chartselect" class="col-xs-6">
          <form id="country-selector"> 
            <select id="select-country" name="country" class="form-control"
                    data-country="{{ selected }}">
              {% for country in countries %}
                <option value="{{ country.country_id }}" class="opt-country">
                  {{ country.name }}
                </option>
              {% endfor %}
            </select>
          </form>
        </div><!-- /#col-chartselect -->
        <div id="col-randombtn" class="col-xs-3">
          <button id="btn-random" class="btn btn-default form-control btn-btnselect" type="button">
            New Random
          </button>
        </div><!-- /#col-randombtn -->
      </div><!-- /#row-btnselect -->
      <div id="row-chartdisp" class="row">
        <div id="col-chartdisp" class="col-xs-12">
          <canvas id="scatter-chart"></canvas>
        </div><!-- /#col-chartdisp -->
      </div><!-- /#row-chartdisp -->
      <div id="row-slider" class="row">
        <div id="col-slider" class="col-xs-12">
          <input id="slider" class="slider" type="range"
                 min="1960" max="2016" value="" />
        </div><!-- /#col-slider -->
      </div><!-- /#row-slider -->
    </div><!-- /#col-scatterchart -->
    <div id="col-tiles-push" class="hidden-xs col-md-4" style="height: 47px;"></div>
    <div id="col-tiles" class="col-xs-12 col-md-4">
      {% for goal in goals %}
        <button id="g{{ goal.goal_pre }}" type="button"
                class="btn btn-default tile g{{ goal.goal_pre }}"
                style="background-image: url('static/{{ goal.iurl_blank }}');
                       background-color: {{ goal.hexval }};">
          <p class="tile-score"></p>
        </button>
      {% endfor %}
    </div><!-- /#col-tiles -->
  </div><!-- /#row-body-charts -->
</div><!-- /#cont-body-charts -->
