{% extends 'base.html' %}
{% block headtitle %}World Bank Data Alternative Dashboard{% endblock %}

{% block bodycontent %}

  <div class="body-0">
    <!-- show scatter chart and goal-score tiles -->
    {% include 'charttiles.html' %}
  </div><!-- /.body-0 -->

  <div class="body-1">
    <!-- show information about the world bank -->
    {% include 'worldbank.html' ignore missing %}
  </div><!-- /.body-1 -->

  <div class="body-0">
    <!-- show information about the world bank -->
    {% include 'aboutme.html' ignore missing %}
  </div><!-- /.body-0 -->

{% endblock %}
