<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- verify that bootstrap js not needed for navbar -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css" />
  <title>AltDash | World Bank Data Alternative Dashboard</title>
</head>
<body>

  <div id="root"></div>

<!-- react-router, for making our single-page-app -->
<!-- <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.js"></script> -->

<!-- not all browsers support the new AJAX fetch API, so load a polyfill -->
<script src="http://unpkg.com/whatwg-fetch"></script>

<!-- our converted jsx -->
<script src="static/js/bundle.js"></script>

</body>
</html>