{% extends 'base.html' %}
{% block headtitle %}World Bank Data Alternative Dashboard{% endblock %}

{% block bodycontent %}

  <div id="body-container" class="container-fluid">
    <div class="row">
      <div id="scatter-chart" class="col-xs-12">
        <form id="country-selector">
          <select name="country">
            {% for country in countries %}
              {% if country.name == selected %}
                <option value="{{ country.country_id }}" selected>
                  {{ country.name }}
                </option>
              {% else %}
                <option value="{{ country.country_id }}">
                  {{ country.name }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
        </form>
        <p>This is above my canvas.</p>
        <canvas id="chart-canvas">
          
        </canvas>
      </div>
    </div>
  </div><!-- /#body-container -->

{% endblock %}
